@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #669ccb;
  --primary-color-dark: #5681a7;
  --secondary-color: #e8f1fa;
  --text-dark: #282d31;
  --text-light: #767268;
  --extra-light: #f3f4f6;

  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  padding: 5rem 1rem;
  max-width: var(--max-width);
  margin: auto;
}

.section__title {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(252, 166, 6);
  margin-bottom: 1rem;
  text-align: center;
}

.section__subtitle {
  font-size: 1rem;
  font-style: italic;
  color: rgb(252, 166, 6);
  margin-bottom: 5rem;
  text-align: center;
}

img {
  border-radius: 20px;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 1rem;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo a {
  text-decoration: none;
  color: var(--extra-light);
  font-size: 1.5rem;
}

.nav__links {
  font-family: outfit;
  display: none;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.link {
  font-family: "poppins";
  color: var(--extra-light);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  color: var(--primary-color);
}

header {
  height: 100vh;
  background-image: linear-gradient(
      rgba(223, 179, 121, 0.5),
      rgba(227, 236, 243, 0)
    ),
    url("picture/e6598633-6687-4bdb-9f42-95ec805ffce9.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .section__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var black;
}

.header__content h1 {
  font-family: "poppins";
  font-size: 5rem;
  font-weight: 400;
  line-height: 5rem;
}

.header__content p {
  text-align: center;
}

.header__content button {
  padding: 1rem 2rem;
  outline: none;
  border: 3px solid #ff9901;
  border-radius: 50px;
  background-color: hwb(36 49% 22%);
  color: var(--extra-light);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

.header__content button:hover {
  background-color: #f1af34
}

.journey__container {
  background-color: var(--secondary-color);
}

.journey__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.country__card {

  border-radius: 50px;
  background-color: var(--extra-light);
}

.country__name {
  padding: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-light);
  cursor: pointer;
}

.country__name i {
  font-size: 1.2rem;
}

.country__name span {
  font-style: italic;
}

.banner__container {
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(35, 71, 103, 0.5),
      rgba(35, 71, 103, 0.5)
    ),
    url("picture/d4cca804-f86a-40b5-aa5c-56a4b48ce899.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__container .section__container {
  padding: 10rem 1rem;
  display: flex;
  justify-content: center;
}

.banner__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  color: var(--extra-light);
}

.banner__content h2 {
  font-size: 2rem;
  font-weight: 400;
}

.banner__content button {
  border-radius: 50px;
  padding: 0.5rem 2rem;
  outline: none;
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
  cursor: pointer;
}

.display__container {
  background-color: var(--secondary-color);
}

.display__container :is(.section__title, .section__subtitle) {
  color: var(--text-dark);
}

.display__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.display__card {
  border-radius: 20pxrÌ¥;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--extra-light);
  text-align: center;
}

.display__card i {
  font-size: 2rem;
  color: var(--primary-color);
}

.display__card h4 {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  color: var(--text-dark);
}

.display__card p {
  font-size: 0.8rem;
  padding: 0 1rem;
  color: var(--text-dark);
}

.display__grid .grid-1 {
  grid-area: 1/1/3/3;
}

footer {
  background-color: var(--text-dark);
  color: var(--secondary-color);
}

footer .section__container {
  display: grid;
  gap: 1.5rem;
  text-align: center;
}

footer h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social__icons i {
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

footer p {
  font-style: italic;
}

@media (min-width: 640px) {
  .nav__links {
    display: flex;
  }

  header .section__container {
    justify-content: flex-start;
  }

  .header__content {
    max-width: 400px;
    align-items: flex-start;
  }

  .header__content p {
    text-align: left;
  }

  .journey__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .display__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .display__card {
    gap: 0;
  }

  .display__card i {
    font-size: 1.75rem;
  }

  .display__card h4 {
    font-size: 1rem;
  }

  .display__card p {
    font-size: 0.7rem;
  }
}

@media (min-width: 786px) {
  .banner__container .section__container {
    justify-content: flex-end;
  }

  .banner__content {
    align-items: flex-end;
    text-align: right;
    max-width: 800px;
  }

  .display__card {
    gap: 0.5rem;
  }

  .display__card i {
    font-size: 2.5rem;
  }

  .display__card p {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .display__card {
    gap: 1rem;
  }

  .display__card i {
    font-size: 3rem;
  }

  .display__card h4 {
    font-size: 1.5rem;
  }

  .display__card p {
    font-size: 1rem;
  }
}
